<section>
    <div class="tagtop w-full h-96 pt-80 pl-52">
        <a href="/fresh">
            <h1 class="text-center font-bold text-4xl text-white">Yummey Fresh</h1>
        </a>
    </div>
    <div class=" bg-gray-900 mt-4">
        <div class="flex px-10">
            <div class="mx-auto items-center pb-10 drop-shadow-lg rounded-full">
                <div class="w-64 h-96 bg-white mt-40 mb-20">
                <a href="/fresh/sweet">
                    <img class="border-white" src="/img/sweets.jpg" alt="Sai krupa images">
                    <div>
                        <h1 class="mx-auto text-center font-bold mt-6">Sweets</h1>
                        <h5 class="mx-auto text-center font-bold">In Veg</h5>
                        <h5 class="mx-auto text-center font-bold">Today's Spasial</h1>
                    </div>
                    <div>
                       <p class="text-center">* Ladoo</p>
                       <p class="text-center">* Petha</p>
                       <p class="text-center">* Chenapoda</p> 
                    </div>
                </a>
                    <div>
                        <h4 class="text-center font-bold bg-indigo-800 mt-4">Get discount<br>upto 30%</h4>
                    </div>
                </div>
            </div>
            <div class="mx-auto items-center pb-10 drop-shadow-lg rounded-full">
                <div class="w-64 h-96 bg-white mt-10 mb-20">
                    <a href="/fresh/vegitable">
                    <img class="border-white" src="/img/Vegitables.jpg" alt="Sai krupa images">
                    <div>
                        <h1 class="mx-auto text-center font-bold mt-6">Vegitable</h1>
                        <h5 class="mx-auto text-center font-bold">In Veg</h5>
                        <h5 class="mx-auto text-center font-bold">Today's Spasial</h1>
                    </div>
                    <div>
                       <p class="text-center">* Vegitable</p>
                       <p class="text-center">* Fruits</p>
                    </div>
                    </a>
                    <div>
                        <h4 class="text-center font-bold bg-indigo-800 mt-4">Get discount<br>upto 30%</h4>
                    </div>
                </div>
            </div>
            <div class="mx-auto items-center pb-10 drop-shadow-lg rounded-full">
                <div class="w-64 h-96 bg-white mt-40 mb-20">
                    <a href="/fresh/panner">
                    <img class="border-white" src="/img/paneer masromm.jpg" alt="Sai krupa images">
                    <div>
                        <h1 class="mx-auto text-center font-bold mt-6">Paneer</h1>
                        <h5 class="mx-auto text-center font-bold">In Veg</h5>
                        <h5 class="mx-auto text-center font-bold">Today's Spasial</h1>
                    </div>
                    <div>
                       <p class="text-center">* Paneer</p>
                       <p class="text-center">* Musroom</p>
                    </div>
                    </a>
                    <div>
                        <h4 class="text-center font-bold bg-indigo-800 mt-4">Get discount<br>upto 30%</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex px-10">
            <div class="mx-auto items-center pb-10 drop-shadow-lg rounded-full">
                <div class="w-64 h-96 bg-white mt-40 mb-20">
                <a href="/fresh/fish">
                    <img class="border-white" src="/img/fish.jpg" alt="Sai krupa images">
                    <div>
                        <h1 class="mx-auto text-center font-bold mt-6">Fish</h1>
                        <h5 class="mx-auto text-center font-bold">In non veg</h5>
                        <h5 class="mx-auto text-center font-bold">Today's Spasial</h1>
                    </div>
                    <div>
                       <p class="text-center">* Fish</p>
                       <p class="text-center">* Prawn</p>
                       <p class="text-center">* Egg</p> 
                    </div>
                </a>
                    <div>
                        <h4 class="text-center font-bold bg-indigo-800 mt-4">Get discount<br>upto 30%</h4>
                    </div>
                </div>
            </div>
            <div class="mx-auto items-center pb-10 drop-shadow-lg rounded-full">
                <div class="w-64 h-96 bg-white mt-10 mb-20">
                    <a href="/fresh/chiken">
                    <img class="border-white" src="/img/chiken.jpg" alt="Sai krupa images">
                    <div>
                        <h1 class="mx-auto text-center font-bold mt-6">Chiken</h1>
                        <h5 class="mx-auto text-center font-bold">In non veg</h5>
                        <h5 class="mx-auto text-center font-bold">Today's Spasial</h1>
                    </div>
                    </a>
                    <div>
                        <h4 class="text-center font-bold bg-indigo-800 mt-4">Get discount<br>upto 30%</h4>
                    </div>
                </div>
            </div>
            <div class="mx-auto items-center pb-10 drop-shadow-lg rounded-full">
                <div class="w-64 h-96 bg-white mt-40 mb-20">
                    <a href="/fresh/mutton">
                    <img class="border-white" src="/img/meat.jpg" alt="Sai krupa images">
                    <div>
                        <h1 class="mx-auto text-center font-bold mt-6">Mutton</h1>
                        <h5 class="mx-auto text-center font-bold">In non veg</h5>
                        <h5 class="mx-auto text-center font-bold">Today's Spasial</h1>
                    </div>
                    </a>
                    <div>
                        <h4 class="text-center font-bold bg-indigo-800 mt-4">Get discount<br>upto 30%</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>