<section>
    <div class="tagtopp w-full h-96 pt-44 pr-52">
        <a href="/medicare">
            <h1 class="text-center font-bold text-4xl text-black">Yummey Fresh</h1>
        </a>
    </div>
    <div class=" bg-gray-900 mt-4">
        <div class="flex px-10">
            <div class="mx-auto items-center pb-10 drop-shadow-lg rounded-full">
                <div class="w-64 h-96 bg-white mt-40 mb-20">
                <a href="/medicare/alopathic">
                    <img class="border-white" src="/img/alopathic.jpg" alt="image">
                    <div>
                        <h1 class="mx-auto text-center font-bold mt-6">Medicine</h1>
                        <h5 class="mx-auto text-center font-bold">Alopathic</h5>
                    </div>
                </a>
                    <div>
                        <h4 class="text-center font-bold bg-indigo-800 mt-4">Get discount<br>upto 30%</h4>
                    </div>
                </div>
            </div>
            <div class="mx-auto items-center pb-10 drop-shadow-lg rounded-full">
                <div class="w-64 h-96 bg-white mt-10 mb-20">
                    <a href="/medicare/ayurvedic">
                    <img class="border-white" src="/img/ayurvedic.jpg" alt="image">
                    <div>
                        <h1 class="mx-auto text-center font-bold mt-6">Ayurvedic</h1>
                        <h5 class="mx-auto text-center font-bold">In medicine</h5>
                    </div>
                    </a>
                    <div>
                        <h4 class="text-center font-bold bg-indigo-800 mt-4">Get discount<br>upto 30%</h4>
                    </div>
                </div>
            </div>
            <div class="mx-auto items-center pb-10 drop-shadow-lg rounded-full">
                <div class="w-64 h-96 bg-white mt-40 mb-20">
                    <a href="/medicare/foodsuppliment">
                    <img class="border-white" src="/img/foodsuppliments.jpg" alt="image">
                    <div>
                        <h1 class="mx-auto text-center font-bold mt-6">Food Suppliments</h1>
                    </div>
                    </a>
                    <div>
                        <h4 class="text-center font-bold bg-indigo-800 mt-4">Get discount<br>upto 30%</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>