<section>
    <div class="shadow">
        <img class="mx-auto w-80" src="/img/menus.png" alt="rasturant png">
    </div>
    <section class="bg-gray-900 py-4">
        <div class="w-40 bg-white px-2 mt-4 mb-8">
            <h1 class="font-bold text-lg uppercase">menu :</h1>
        </div>
        <!-- carsds -->
        <div class="inline flex grid grid-cols-4 col-gap-12 row-gap-16 px-8">
            <div class="ml-8 mt-8 w-64 bg-white py-4 drop-shadow-md">
                <img class="h-40 mt-4 mx-auto" src="/img/veg biriyani.jpg" alt="">
                <div class="mt-2 text-center">
                    <h2 class="text-lg font-bold">Veg biriyani</h2>
                    <h3 class="py-1 px-4 rounded-full uppercase text-xs font-bold">Get up to 30% off</h3>
                    <span class="size py-1 px-4 rounded-full uppercase text-xs">500grms</span>
                    <div class="flex items-center justify-around mt-4">
                        <span class="mt-1 font-bold text-lg">Rs-200</span>
                        <button data-menu="" class="add-to-carte py-1 px-6 rounded-full flex items-center font-bold">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="ml-8 mt-8 w-64 bg-white py-4 drop-shadow-md">
                <img class="h-40 mt-4 mx-auto" src="/img/veg biriyani.jpg" alt="">
                <div class="mt-2 text-center">
                    <h2 class="text-lg font-bold">Veg biriyani</h2>
                    <h3 class="py-1 px-4 rounded-full uppercase text-xs font-bold">Get up to 30% off</h3>
                    <span class="size py-1 px-4 rounded-full uppercase text-xs">500 grms</span>
                    <div class="flex items-center justify-around mt-4">
                        <span class="mt-1 font-bold text-lg">Rs-200</span>
                        <button data-menu="" class="add-to-carte py-1 px-6 rounded-full flex items-center font-bold">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="ml-8 mt-8 w-64 bg-white py-4 drop-shadow-md">
                <img class="h-40 mt-4 mx-auto" src="/img/veg biriyani.jpg" alt="">
                <div class="mt-2 text-center">
                    <h2 class="text-lg font-bold">Veg biriyani</h2>
                    <h3 class="py-1 px-4 rounded-full uppercase text-xs font-bold">Get up to 30% off</h3>
                    <span class="size py-1 px-4 rounded-full uppercase text-xs">500 grms</span>
                    <div class="flex items-center justify-around mt-4">
                        <span class="mt-1 font-bold text-lg">Rs-200</span>
                        <button data-menu="" class="add-to-carte py-1 px-6 rounded-full flex items-center font-bold">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="ml-8 mt-8 w-64 bg-white py-4 drop-shadow-md">
                <img class="h-40 mt-4 mx-auto" src="/img/veg biriyani.jpg" alt="">
                <div class="mt-2 text-center">
                    <h2 class="text-lg font-bold">Veg biriyani</h2>
                    <h3 class="py-1 px-4 rounded-full uppercase text-xs font-bold">Get up to 30% off</h3>
                    <span class="size py-1 px-4 rounded-full uppercase text-xs">500 grms</span>
                    <div class="flex items-center justify-around mt-4">
                        <span class="mt-1 font-bold text-lg">Rs-200</span>
                        <button data-menu="" class="add-to-carte py-1 px-6 rounded-full flex items-center font-bold">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
