<section>
    <div class="tagtoop w-full h-96 pt-80">
        <a href="/mart">
            <h1 class="text-center font-bold text-4xl text-black">Yummey Mart</h1>
        </a>
    </div>
    <div class=" bg-gray-900 mt-4">
        <div class="flex px-10">
            <div class="mx-auto items-center pb-10 drop-shadow-lg rounded-full">
                <div class="w-64 h-96 bg-white mt-40 mb-20">
                <a href="/mart/ration">
                    <img class="border-white" src="/img/ration.jpg" alt="Sai krupa images">
                    <div>
                        <h1 class="mx-auto text-center font-bold mt-6">Ration</h1>
                        <h5 class="mx-auto text-center font-bold">ingridiants</h5>
                        <h5 class="mx-auto text-center font-bold">Today's Spasial</h1>
                    </div>
                </a>
                    <div>
                        <h4 class="text-center font-bold bg-indigo-800 mt-4">Get discount<br>upto 30%</h4>
                    </div>
                </div>
            </div>
            <div class="mx-auto items-center pb-10 drop-shadow-lg rounded-full">
                <div class="w-64 h-96 bg-white mt-10 mb-20">
                    <a href="/mart/dryfruits">
                    <img class="border-white" src="/img/dryfruits.jpg" alt="Sai krupa images">
                    <div>
                        <h1 class="mx-auto text-center font-bold mt-6">Dry fruits</h1>
                        <h5 class="mx-auto text-center font-bold">Ingridiants</h5>
                        <h5 class="mx-auto text-center font-bold">Today's Spasial</h1>
                    </div>
                    <div>
                       <p class="text-center">* Nuts</p>
                       <p class="text-center">* Kazu</p>
                    </div>
                    </a>
                    <div>
                        <h4 class="text-center font-bold bg-indigo-800 mt-4">Get discount<br>upto 30%</h4>
                    </div>
                </div>
            </div>
            <div class="mx-auto items-center pb-10 drop-shadow-lg rounded-full">
                <div class="w-64 h-96 bg-white mt-40 mb-20">
                    <a href="/mart/drinks">
                    <img class="border-white" src="/img/drinks.jpg" alt="Sai krupa images">
                    <div>
                        <h1 class="mx-auto text-center font-bold mt-6">Drinks-Fastfoods</h1>
                        <h5 class="mx-auto text-center font-bold">In Veg & non-veg</h5>
                        <h5 class="mx-auto text-center font-bold">Today's Spasial</h1>
                    </div>
                    <div>
                       <p class="text-center">* Pizza</p>
                       <p class="text-center">* Burgur</p>
                    </div>
                    </a>
                    <div>
                        <h4 class="text-center font-bold bg-indigo-800 mt-4">Get discount<br>upto 30%</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>