<section class="code w-full">
    <div class="shadow">
        <img class="mx-auto w-80" src="/img/Rasturants.png" alt="rasturant png">
    </div>
    <div class="bg-gray-900">
        <div class="lg:flex px-10">
            <div class="md:flex">
            <div class="mx-auto items-center pb-10 drop-shadow-lg rounded-full px-10">
            <div class="w-64 h-96 bg-white mt-40 mb-20">
            <a href="/resturant/saikrupa">
                <img class="border-white" src="/img/saik.jpg" alt="Sai krupa images">
                <div>
                    <h1 class="mx-auto text-center font-bold mt-6">Sai Krupa Resturant</h1>
                    <h5 class="mx-auto text-center font-bold">Veg-Resturant</h5>
                    <h5 class="mx-auto text-center font-bold">Today's Spasial</h1>
                    </div>
                    <div>
                   <p class="text-center">* Veg-biriyani</p>
                   <p class="text-center">* Panner-chilli</p>
                   <p class="text-center">* Masroom-rada</p> 
                </div>
            </a>
            <div>
                <h4 class="text-center font-bold bg-indigo-800 mt-4">Get discount<br>upto 30%</h4>
            </div>
        </div>
    </div>
    <div class="mx-auto items-center pb-10 drop-shadow-lg rounded-full px-10">
        <div class="w-64 h-96 bg-white mt-10 mb-20">
            <a href="/resturant/foodies">
                <img class="border-white" src="/img/Chiken friderice.jpg" alt="foodies">
                <div>
                    <h1 class="mx-auto text-center font-bold mt-2">Foodies Resturant</h1>
                    <h5 class="mx-auto text-center font-bold">Veg & Non veg-Resturant</h5>
                </div>
            </a>
            <div>
                <h4 class="text-center font-bold bg-indigo-800 mt-4">Get discount<br>upto 30%</h4>
            </div>
        </div>
    </div>
    </div>
    <div class="md:flex">
    <div class="mx-auto items-center pb-10 drop-shadow-lg rounded-full px-10">
        <div class="w-64 h-96 bg-white mt-40 mb-20">
            <a href="/resturant/dolphin">
                <img class="border-white" src="/img/mutton chilli.jpg" alt="Sai krupa images">
                <div>
                    <h1 class="mx-auto text-center font-bold mt-2">Dolphin Resturant</h1>
                    <h5 class="mx-auto text-center font-bold">Veg & Non Veg-Resturant</h5>
                </div>
            </a>
            <div>
                <h4 class="text-center font-bold bg-indigo-800 mt-4">Get discount<br>upto 30%</h4>
            </div>
        </div>
    </div>
    <div class="mx-auto items-center pb-10 drop-shadow-lg rounded-full px-10">
        <div class="w-64 h-96 bg-white mt-10 mb-20">
            <a href="/resturant">
                <img class="border-white h-fit" src="/img/Chiken friderice.jpg" alt="Sai krupa images">
                <div>
                    <h1 class="mx-auto text-center font-bold mt-2">Green-Chilli Resturant</h1>
                    <h5 class="mx-auto text-center font-bold">the resturent is closed now "Opening Soon" </h5>
                </div>
            </a>
            <div>
                <h4 class="text-center font-bold bg-indigo-800 mt-4">Get discount<br>upto 30%</h4>
            </div>
        </div>
    </div>
  </div>
  </div>
<div class="md:flex px-10">
  <div class="mx-auto items-center pb-10 drop-shadow-lg rounded-full">
    <div class="w-64 h-96 bg-white mt-10 mb-20">
        <a href="/resturant/odian">
            <img class="border-white h-fit" src="/img/Chiken friderice.jpg" alt="Sai krupa images">
            <div>
                <h1 class="mx-auto text-center font-bold mt-2">Odian Resturengt</h1>
                <h5 class="mx-auto text-center font-bold">Veg & Non Veg-Resturant </h5>
            </div>
        </a>
        <div>
            <h4 class="text-center font-bold bg-indigo-800 mt-4">Get discount<br>upto 30%</h4>
        </div>
    </div>
   </div> 
</div>
</div>

</section>
