<section>
    <div class="tagtopo w-full h-96 pt-44 pl-52">
        <a href="/helth">
            <h1 class="text-center font-bold text-4xl text-black">Yummey Fresh</h1>
        </a>
    </div>
    <div class=" bg-gray-900 mt-4">
        <div class="flex px-10">
            <div class="mx-auto items-center pb-10 drop-shadow-lg rounded-full">
                <div class="w-64 h-96 bg-white mt-40 mb-20">
                <a href="/helth/juice">
                    <img class="border-white" src="/img/juice.jpg" alt="images">
                    <div>
                        <h1 class="mx-auto text-center font-bold mt-6">Juice</h1>
                        <h5 class="mx-auto text-center font-bold">In Veg</h5>
                        <h5 class="mx-auto text-center font-bold">Today's Spasial</h1>
                    </div>
                    <div>
                       <p class="text-center">* Orange juice</p>
                       <p class="text-center">* Grap juice</p>
                       <p class="text-center">* Carrot juice</p> 
                    </div>
                </a>
                    <div>
                        <h4 class="text-center font-bold bg-indigo-800 mt-4">Get discount<br>upto 30%</h4>
                    </div>
                </div>
            </div>
            <div class="mx-auto items-center pb-10 drop-shadow-lg rounded-full">
                <div class="w-64 h-96 bg-white mt-10 mb-20">
                    <a href="/helth/helthyfood">
                    <img class="border-white" src="/img/helthyfood.jpg" alt="Sai krupa images">
                    <div>
                        <h1 class="mx-auto text-center font-bold mt-6">Helthy food</h1>
                        <h5 class="mx-auto text-center font-bold">In Veg & non-veg</h5>
                        <h5 class="mx-auto text-center font-bold">Today's Spasial</h1>
                    </div>
                    <div>
                       <p class="text-center">* Fruite salad</p>
                       <p class="text-center">* Egg pouch</p>
                    </div>
                    </a>
                    <div>
                        <h4 class="text-center font-bold bg-indigo-800 mt-4">Get discount<br>upto 30%</h4>
                    </div>
                </div>
            </div>
            <div class="mx-auto items-center pb-10 drop-shadow-lg rounded-full">
                <div class="w-64 h-96 bg-white mt-40 mb-20">
                    <a href="/helth/nutrition">
                    <img class="border-white" src="/img/nutrition.jpg" alt="Sai krupa images">
                    <div>
                        <h1 class="mx-auto text-center font-bold mt-6">Nutrition</h1>
                        <h5 class="mx-auto text-center font-bold">Ingridiants</h5>
                        <h5 class="mx-auto text-center font-bold">Today's Spasial</h1>
                    </div>
                    <div>
                       <p class="text-center">* Whey protin</p>
                    </div>
                    </a>
                    <div>
                        <h4 class="text-center font-bold bg-indigo-800 mt-4">Get discount<br>upto 30%</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>