<section>
    <img class="h-96 w-full" src="/img/bg20.jpg" alt="Admin block">
    <div class="container mx-auto flex items-center justify-between py-24 px-24">
        <a href="/admin/page">
            <img class="w-64" src="/img/admin.jpg" alt="admin page image">
        </a>
        <a class="link" href="/admin/page">
            <div class="text-center">
                <h1 class="font-bold text-3xl">Admin's Page</h1>
                <p class="font-bold">This page is going to deliver you<br>to your block and chosee your part</p>
            </div>
        </a>
    </div>
    <div class="container mx-auto flex items-center justify-between py-24 px-24">
        <a class="link" href="#">
            <div class="text-center">
                <h1 class="font-bold text-3xl">Resturant partner</h1>
                <p class="font-bold">This page is going to deliver you<br>to your block and chosee your part</p>
            </div>
        </a>
        <a href="#">
            <img class="w-64" src="/img/resturant-partner.jpg" alt="admin page image">
        </a>
    </div>
    <div class="container mx-auto flex items-center justify-between py-24 px-24">
        <a href="#">
            <img class="w-64" src="/img/delivery.jpg" alt="admin page image">
        </a>
        <a class="link" href="#">
            <div class="text-center">
                <h1 class="font-bold text-3xl">Delivery partner</h1>
                <p class="font-bold">This page is going to deliver you<br>to your block and chosee your part</p>
            </div>
        </a>
    </div>
</section>