<section class="status">
    <div class="container mx-auto">
        <div class="status-box w-full lg:w-2/3 mx-auto">
            <div class="px-2 md:flex items-center justify-between mb-12">
                <h1 class="text-xl font-bold">Track delivery status</h1>
                <h6 class="bg-white py-1 rounded-full px-4 text-green-600 text-xs"><%=order._id %></h6>
                <h6 class="bg-white py-1 rounded-full px-4 text-green-600 text-xs">Your TotalAmmount Rs-<%=order.rate %></h6>
                <input id="hiddenInput" type="hidden" value="<%= JSON.stringify(order) %>">
            </div>
            <ul>
                <li class="status_line text-sm md:text-xl pb-16" data-status="rejected"><span>Order rejected</span></li>
                <li class="status_line text-sm md:text-xl pb-16" data-status="order_placed"><span>your order have been rejected</span></li>
                <li class="status_line text-sm md:text-xl pb-16" data-status="confirmed"><span>Order confirmation</span></li>
                <li class="status_line text-sm md:text-xl pb-16" data-status="prepared"><span>Preparation</span></li>
                <li class="status_line text-sm md:text-xl pb-16" data-status="delivered"><span>Out for delivery </span></li>
                <li class="status_line text-sm md:text-xl pb-16" data-status="completed"><span>Complete</span></li>
            </ul>
        </div>
    </div>
</section>